VITE_TMDB_READ_API_KEY=9c9e7fa3edad8b562caad0a25dd1aea8
VITE_OPENSEARCH_ENABLED=false

# make sure the cors proxy url does NOT have a slash at the end
VITE_CORS_PROXY_URL=https://bypasscalculation.brt.ar

# make sure the domain does NOT have a slash at the end
VITE_APP_DOMAIN=http://visualoperations.brt.ar
