VITE_TMDB_READ_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5YzllN2ZhM2VkYWQ4YjU2MmNhYWQwYTI1ZGQxYWVhOCIsInN1YiI6IjY1YWM1ZDc0YmMyY2IzMDBhZjFiOWNmYiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.ipmuOeNDL0SxKAiw0RDUTynUo7zZF4sVUooKYvZI85g
VITE_OPENSEARCH_ENABLED=false

# make sure the cors proxy url does NOT have a slash at the end
VITE_CORS_PROXY_URL=https://bypasscalculation.hahn-itc.de

# make sure the domain does NOT have a slash at the end
VITE_APP_DOMAIN=https://visualoperations.hahn-itc.de
